<div class="text-center">
    <h1 class="text-info pt-4">Parabéns!!</h1>
    <p class="pb-3">Sua compra foi recebida e será processada após a aprovação do pagamento</p>
    <img src="/images/order.png" style="width: 80%" />
</div>